<div class="register-form-holder">

    <h2 class="heading" *ngIf="!isEditing"> Register </h2>
    <h2 class="heading" *ngIf="isEditing"> Profile </h2>

    <form name="registerForm" #rf="ngForm" (ngSubmit)="manageUser()" novalidate>

        <!-- Allow email change during registration -->
        <div class="form-group" *ngIf="!isEditing">
            <label>Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Email" 
                [(ngModel)]="userData.email" #email="ngModel" required>
            <small *ngIf="rf.submitted && email.errors?.required" class="error-message">
                Email is required
            </small>
        </div>

        <!-- Only display email when updating profile -->
        <div class="email-holder" *ngIf="isEditing">
            <label>Email address: &nbsp; {{ userData.email }}</label>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password"
             [(ngModel)]="userData.password" #password="ngModel" required>
            <small *ngIf="rf.submitted && password.errors?.required" class="error-message">
                Password is required
            </small>
        </div>

        <div class="form-group">
            <label>Confirm password</label>
            <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="confirmedPassword"
                placeholder="Password" #confirmPassword="ngModel" (focusout)="checkPasswordMatch()" required>
            <small *ngIf="rf.submitted && confirmPassword.errors?.required" class="error-message">
                Password confirmation is required.
            </small>
            <small *ngIf="rf.submitted && !passwordsMatch" class="error-message">
                Passwords do not match.
            </small>
        </div>

        <div class="form-group">
            <label>Name: </label>
            <input type="text" name="userName" class="form-control" placeholder="Enter name"
                [(ngModel)]="userData.name" #userName="ngModel" required>
            <small *ngIf="rf.submitted && userName.errors?.required" class="error-message">
                Name is required
            </small>
        </div>

        <div class="form-group">
            <label> Weight in kg: </label>
            <input type="number" name="weight" class="form-control" placeholder="Weight" 
                [(ngModel)]="userData.weight" #weight="ngModel" required>
            <small *ngIf="rf.submitted && weight.errors?.required" class="error-message">
                Weight is required
            </small>
        </div>

        <div class="form-group">
            <label> Workout level: </label>
            <select class="custom-select" name="userLevel" [(ngModel)]="userData.userLevel"
                #userLevel="ngModel" required>
                <option value="BEGINNER">Beginner</option>
                <option value="INTERMEDIATE">Intermediate</option>
                <option value="ADVANCED">Advanced</option>
              </select>
            <small *ngIf="rf.submitted && userLevel.errors?.required" class="error-message">
                Workout level is required
            </small>
        </div>

        <button type="submit" class="btn btn-dark" *ngIf="!isEditing && !submittingRequest">
            Register
        </button>

        <button type="submit" class="btn btn-dark" *ngIf="isEditing && !submittingRequest">
            Update profile
        </button>

    </form>

</div>