
.form-holder {
    position: relative;
    top: 10ex;
    width: 60%;
    left: 20%;
    margin-bottom: 10ex;
}

.heading {
    margin-bottom: 2ex;
}

.custom-control {
    padding: 5px;
}

.checkbox-holder {
    padding: 1ex;
    margin-left: 2ex;
}

.wide-btn {
    margin-top: 4ex;
    margin-bottom: 4ex;
    width: 100%;
}

.header {
    text-align: center;
    margin-top: 2ex;
}

.workout-holder {
    position: relative;
    width: 70%;
    left: 15%;
}



