<div class="register-form-holder">
    <h3 class="heading"> Register </h3>

    <form name="registerForm" #rf="ngForm" (ngSubmit)="register()" novalidate>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Email" 
                [(ngModel)]="userData.email" #email="ngModel" required>
            <small *ngIf="rf.submitted && email.errors?.required" class="error-message">
                Email is required
            </small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password"
             [(ngModel)]="userData.password" #password="ngModel" required>
            <small *ngIf="rf.submitted && password.errors?.required" class="error-message">
                Password is required
            </small>
        </div>

        <div class="form-group">
            <label>Confirm password</label>
            <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="confirmedPassword"
                placeholder="Password" #confirmPassword="ngModel" (focusout)="checkPasswordMatch()" required>
            <small *ngIf="rf.submitted && confirmPassword.errors?.required" class="error-message">
                Password confirmation is required
            </small>
        </div>

        <div class="form-group">
            <label>First name: </label>
            <input type="text" name="firstname" class="form-control" placeholder="First name"
                [(ngModel)]="userData.firstName" #firstname="ngModel" required>
            <small *ngIf="rf.submitted && firstname.errors?.required" class="error-message">
                First name is required
            </small>
        </div>

        <div class="form-group">
            <label>Last name: </label>
            <input type="text" name="lastname" class="form-control" placeholder="Last name" 
                [(ngModel)]="userData.lastName" #lastname="ngModel" required>
            <small *ngIf="rf.submitted && lastname.errors?.required" class="error-message">
                Last name is required
            </small>
        </div>

        <div class="form-group">
            <label> Weight in kg: </label>
            <input type="number" name="weight" class="form-control" placeholder="Weight" 
                [(ngModel)]="userData.weight" #weight="ngModel" required>
            <small *ngIf="rf.submitted && weight.errors?.required" class="error-message">
                Weight is required
            </small>
        </div>

        <div class="form-group">
            <label> Workout level: </label>
            <select class="custom-select" name="userLevel" [(ngModel)]="userData.userLevel"
                #userLevel="ngModel" required>
                <option value="0">Beginner</option>
                <option value="1">Intermediate</option>
                <option value="2">Advanced</option>
              </select>
            <small *ngIf="rf.submitted && userLevel.errors?.required" class="error-message">
                Workout level is required
            </small>
        </div>

        <button type="submit" id="register-btn" class="btn btn-dark">
            Register
        </button>

    </form>

</div>