

<table class="table workout-table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col" colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>

        <tr *ngFor="let workout of userWorkouts; index as i">
           
            <td> {{ workout.date | date: 'dd.MM.yyyy - hh:mm a' }} </td>

            <td *ngIf="workout.strengthWorkoutDto != null && workout.conditioningWorkoutDto != null">
                Combo workout
            </td>

            <td *ngIf="workout.strengthWorkoutDto == null && workout.conditioningWorkoutDto != null">
                Conditioning workout
            </td>

            <td *ngIf="workout.strengthWorkoutDto != null && workout.conditioningWorkoutDto == null">
                Strength workout
            </td>

            <td>
                <button class="btn btn-secondary" (click)="viewWorkout(workout)">
                    View
                </button>
            </td>

            <td *ngIf="workout.review == null">
                <button class="btn btn-secondary"> Add review</button>
            </td>

        </tr>

    </tbody>

</table>

<div [ngClass]="wrapperClass" (click)="hidePopUps()">
</div>
<div [ngClass]="modalClass">
    <app-workout-preview [workout]="workoutToView" *ngIf="workoutToView != null"></app-workout-preview>
</div>
