
.workout-table {
    margin-top: 3ex;
    text-align: center;
}

.workout-column {
    padding: 2ex;
    border-bottom: 5px solid #333;
}

.identificator {
    border-bottom: 1px solid black;
    margin-right: 1em;
}

.centered-text {
    text-align: center;
}

.notification {
    margin-top: 5ex;
}

.wide-btn {
    margin-top: 2ex;
    margin-bottom: 2ex;
    width: 100%;
}


