.form-holder {
    position: relative;
    top: 5ex;
    width: 50%;
    left: 25%;
}

.heading {
    text-align: center;
    margin-bottom: 2ex;
}

.checkbox-holder {
    padding: 1ex;
    margin-left: 2ex;
    margin-bottom: 2ex;
}

.wide-btn {
    width: 100%;
    padding: 1ex;
    margin-bottom: 4ex;
}